<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECTS</title>
</head>
<body>
    <center>
        <h1>UI WEB DESIGN</h1>
        <h1>LOGIN PAGES USING WEB TECHNOLOGY</h1>
        <h1>A PASSWORD GENERATOR USING PYTHON</h1>
        <h1>GIT HUB PROJECTS</h1>
        <a href="{% url 'one' %}"><h2>Main page</h2></a>
        <a href="{% url 'two' %}"><h2>EDUCATIONAL DETAILS</h2></a>
        <a href="{% url 'app2:four' %}"><h2>PROJECTS</h2></a>
    </center>
    
</body>
</html>