<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATIONAL DETAILS</title>
</head>
<body>
    <center>
        <h1 style="font-style: oblique;">HIGHEST EDUCATION</h1>
        <h2>Bachelor of technology</h2>
        <h2>EEE</h2>
        <h1 style="font-style: oblique;">SECOND HIGHEST EDUCATION</h1>
        <h2> Diploma</h2>
        <h2>EEE</h2>
        <h1 style="font-style: oblique;">SSC</h1>
        <h2>10th in Vijaya public school</h2>
        <a href="{% url 'one' %}"><h2>Main page</h2></a>
        <a href="{% url 'app2:three' %}"><h2>TECHNICAL SKILLS</h2></a>
        <a href="{% url 'app2:four' %}"><h2>PROJECTS</h2></a>
    </center>
    
</body>
</html>